body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:150px;
    background-color: rgb(198, 219, 238);
}
.calculator{
    border: 2px solid black;
    border-radius: 2%;
    width:500px;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(189, 189, 189);
}
.display{
    border: 2px solid black;
    width:450px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px gray;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: x-large;
    font-weight: 700;

    
}
.buttons{
    width: 450px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-container{
    flex:1;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.button{
    padding: 35px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px gray;
    font-weight: 700;
    font-size: xx-large;
    border: 1px solid;
    width: 20px;
    text-align: center;
}